body {
    background-color: rgb(148, 152, 206);
    font-family: Arial, Helvetica, sans-serif;
}
main {
    background-color: aliceblue;
    padding: 10px;
}
h1 {
    text-align: center;
}
h2 {
    font-size: 1.2em; 

}
header {
    background-color: rgb(228, 228, 228);
    padding: 10px;
    text-align: center;
    font-size: 1.1em;
    padding-bottom: 25px;
    border-radius: 4px;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.236);
}
header h2 {
    font-size: 0.9em;
}
div {
    margin: auto;
}
.paises div {
    margin-bottom: 20px;
    border: 1px solid #ccc;
    padding: 15px;
    width: 400px;
}
.paises div p {
    text-align: center;
    margin: auto;
    width: 100%;
}
.paises div:hover {
    transform: scale(1.04);
    transition: 0.4s;
}
ul {
    list-style-type: none;
}