body {
    background-color: rgb(148, 152, 206);
    font-family: Arial, Helvetica, sans-serif;
}
main {
    background-color: aliceblue;
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
h1 {
    text-align: center;
}
h2 {
    font-size: 1.2em; 
    text-indent: 20px;
}
main p {
    ;
}
header {
    background-color: rgb(228, 228, 228);
    padding: 10px;
    
    text-align: center;
    font-size: 1.1em;
    padding-bottom: 25px;
    border-radius: 4px;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.236);
}
header h2 {
    font-size: 0.9em;
}
div {
    width: 150px;
    padding: 1px;
    font-size: 0.8em;
    margin: 3px;
}
ul {
    list-style-type: circle;
}
div p {
    text-align: center;
}
.NA {
    background-color: brown;
}
.LATAM {
    background-color: blue;
}
.ASIA {
    background-color: brown;
}
.BRASIL {
    background-color: green;
}

.SOUTH-KOREA {
    background: linear-gradient(to right, white, red, blue);
}
.EMEA {
    background-color: rgb(0, 0, 135);
}
.JAPAN {
    background-color: white;
    color: red;
}